<!DOCTYPE html>
    <%- include('./partials/head.ejs')%>
<body>
   <%- include('./partials/nav.ejs')%>


    <h1>404.... OPPPPSSSSSSSS!</h1>
    <h3>this page is not found</h3>

    <%- include('./partials/footer.ejs')%>
</body>
</html>