<!DOCTYPE html>
    <%- include('./partials/head.ejs')%>
<body>
   <%- include('./partials/nav.ejs')%>

    <h2>About page</h2>
    <h3>using Express EJS </h3>

    <%- include('./partials/footer.ejs')%>
</body>
</html>